# Function

# Syntax

def function_name(): #defination
logic

function_name()# calling

In [1]:
def addition():
    a=int(input("enter the number"))
    b=int(input("enter the number"))
    c=a+b
    print("the sum is",c)

# Calling

In [3]:
addition()

enter the number 89
enter the number 78

the sum is 167

we can call it multiple times

In [5]:
addition()

enter the number 89
enter the number 56

the sum is 145

In [7]:
def interest():
    p=int(input("enter the principle"))
    r=float(input("enter the number"))
    t=int(input("enter the time"))
    si=p*r*t/100
    print("the simple interest is",si)

# Simple Interest

In [9]:
interest()

enter the principle 89
enter the number 89.09
enter the time 8

the simple interest is 634.3208

 # Average

In [11]:
def average():
    a=int(input("enter the number"))
    b=int(input("enter the number"))
    c=int(input("enter the number"))
    avg=(a+b+c)/3
    print("the average is",avg)

In [13]:
average()

enter the number 78
enter the number 90
enter the number 90

the average is 86.0

# percentage

In [15]:
def percentage():
    e=int(input("enter the marks out of 100"))
    h=int(input("enter the marks out of 100"))
    m=int(input("enter the marks out of 100"))
    s=int(input("enter the marks out of 100"))
    c=int(input("enter the marks out of 100"))
    s=e+h+m+s+c
    per=s*100/500
    print("the percentage is",per)

In [17]:
percentage()

enter the marks out of 100 90
enter the marks out of 100 90
enter the marks out of 100 90
enter the marks out of 100 90
enter the marks out of 100 90

the percentage is 90.0

# Check

In [19]:
def check():
    a=int(input("enter the number"))
    if a%2==0:
        print("even number")
    else:
        print("odd number")

In [21]:
check()

enter the number 90

even number

# Leap Year

In [23]:
def leapyear():
    a=int(input("enter the year"))
    if a%4==0:
        print("leap year")
    else:
        print("nott a leap year")

In [25]:
leapyear()

enter the year 1999

nott a leap year

# Vote Eligibility

In [27]:
def vote_eligibility():
    age=int(input("enter the age"))
    if age>=18:
        print("eligible to vote")
    else:
        print("not eligible")

In [29]:
vote_eligibility()

enter the age 89

eligible to vote

# Argument function

# Syntax

def function_name(arg1,arg2..):

logic

function_name() --calling

# Addition

In [33]:
def addition(a,b):
    c=a+b
    print("the sum is",c)

In [37]:
addition(67,90)

the sum is 157

# Subtraction

In [19]:
def subtraction(a,b):
    c=a-b
    print("the sub is",c)

In [23]:
subtraction(89,90)

the sub is -1

# Interest

In [45]:
def interest (p,r,t):
    si=p*r*t/100
    print("the interest is",si)

In [49]:
interest(12,56.89,9)

the interest is 61.44120000000001

# Average

In [51]:
def average(x,y,z):
    avg=(x+y+z)/3
    print("the average is",avg)

In [53]:
average(90,89,78)

the average is 85.66666666666667

# Check

In [55]:
def check(n):
    if n%2==0:
        print("even number")
    else:
        print("odd number")

In [57]:
check(9)

odd number

# Leap Year

In [59]:
def leap_year(year):
    if year%4==0:
        print("leap year")
    else:
        print("not a leap year")

In [61]:
leap_year(2007)

not a leap year

# Vote Eligibility

In [63]:
def age(age):
    if age>=18:
        print("eligible to vote")
    else:
        print("not eligible")

In [65]:
age(7)

not eligible

# Return type

 # 1st method

In [67]:
def addition(a,b):
    return a+b

In [69]:
c=addition(98,56)
print(c)

154

# 2nd method

In [71]:
print(addition(34,78))

112

# 3rd method

In [73]:
addition(56,90)

146

In [75]:
def interset(p,r,t):
    return p*r*t/100

si=interset(700,9.7,5)
print(si)

339.49999999999994

# Placeholder argument

In [77]:
def addition(a,b=500,c=600):
    return a+b+c
print(addition(500))
print(addition(800,780))
print(addition(10,20,30))

1600
2180
60

In [79]:
def addition(a,b=500,c=600):
    return a+b+c
print(addition(500))
print(addition(a=800,c=780))
print(addition(10,20,30))

1600
2080
60

In [81]:
def datascience(a,b,c,d,e):
    return(a+b,a*b)

In [83]:
datascience(2,3,4,5,6)

(5, 6)

In [85]:
def hello(a,b):
    return("my name is {} and gender is {}".format(a,b))

In [87]:
hello("nidhi","female")

'my name is nidhi and gender is female'

In [89]:
def hello(name,age=19,gender="female"):
    return("my name is {} and age is{} and gender is{}".format(name,age,gender))

In [91]:
hello("nidhi")

'my name is nidhi and age is19 and gender isfemale'

In [93]:
def hello(name,age=19,gender="female"):
    return("my name is {} and age is {} and gender is {}".format(age,gender,name))

In [95]:
hello("nidhi")

'my name is 19 and age is female and gender is nidhi'

 # Some mcq practice question

In [99]:
#mcq random
x=[1,2,3];
print(type(x)==list)

True

In [101]:
x=["XX","YY"]
y=[]
for i in x:
    y.append(i.lower())
print(x)
print(y)

['XX', 'YY']
['xx', 'yy']

In [103]:
a=75 #global variable
def test_var():#local variable
    return a
print(test_var())

75

In [105]:
0.2+0.3==0.5

True

In [107]:
def x(values):
    values[0]=33
v=[1,2,3]
x(v)
print(v)

[33, 2, 3]

In [109]:
list1=[1,2,3,4,5,6,7]
list1[:-1]

[1, 2, 3, 4, 5, 6]

In [111]:
m=[4,5,7,2,3]
m[1:2]=[8,9]
print(m)

[4, 8, 9, 7, 2, 3]

In [113]:
x=y=[2,3,4]
y[2]=5
print(x)

[2, 3, 5]

In [115]:
x=[12,34,89]
y=x.copy()
y is x #is compare on the basis on address

False

In [117]:
p1=(2,3,5,4)
p2=(2,3,4,5)
p1<p2

False

In [119]:
F={1:"x",2:"y",3:"z"}
print(F.get(8,"not found"))

not found