# Loops

# For Loop

In [4]:
for nidhi in "Ansh is the best":
    print(nidhi)

A
n
s
h

i
s

t
h
e

b
e
s
t

In [3]:
for i in [21,56,78,99,12]:
    print(i)

21
56
78
99
12

In [5]:
for i in (12,4,67,89,77):
    print(i)

12
4
67
89
77

In [7]:
for i in {12,56,78,99}:
    print(i)

56
99
12
78

In [9]:
for i in {"Name":"Nidhi", "Age":21}:
    print(i)
    #when we try to access dictonary with loop
    #by deafult always keys are printed

Name
Age

In [11]:
for i in {"Name":"Nidhi", "Age":21}:
    print(i)
    #when we try to access dictonary with loop
    #by deafult always keys are printed

Name
Age

# Range function

In [13]:
for i in range(10):
    print("happy birthday nidhi")

happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
for i in range (1,100,4):
    print(i, end="* ")

1* 5* 9* 13* 17* 21* 25* 29* 33* 37* 41* 45* 49* 53* 57* 61* 65* 69* 73* 77* 81* 85* 89* 93* 97*

# While loop

In [21]:
#while loop
#var_initialization --- from where to start
#while condition:--- where to stop
#statement
#incr/deccr

In [23]:
n=1
while n<=10:
    print("nidhi")
    n=n+1

nidhi
nidhi
nidhi
nidhi
nidhi
nidhi
nidhi
nidhi
nidhi
nidhi

# Print first 10 natural number

In [25]:
i=1
while i<=10:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

# Print only even numberes from 1-100

In [27]:
i=1
while i<=100:
    if i%2==0:
        print(i,end=" ")
    i=i+1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

# Even Odd

In [ ]:
i=1
while i<=100:
    if i%2==100:
        print("even")
else:
    print("odd")
    i=i+1

In [33]:
i=1
while i<=100:
    if i%2!=0:
        print(i,end=" ")
    i=i+1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

# Sum of even and odd numbers seprately

In [35]:
i=1
so=0
se=0
while i<=100:
    if i%2==0:
        se=se+i
    else:
        so=so+i
    i=i+1
print("the sum of even number is",se)
print("the sum of odd number is",so)

the sum of even number is 2550
the sum of odd number is 2500

In [37]:
i=1
while i<=10:
    print("happy birthday nidhi")
    i=i+1

happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi
happy birthday nidhi

# Table of a given number

In [39]:
n=int(input("enter the number"))
i=1
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

enter the number 89

89 * 1 = 89
89 * 2 = 178
89 * 3 = 267
89 * 4 = 356
89 * 5 = 445
89 * 6 = 534
89 * 7 = 623
89 * 8 = 712
89 * 9 = 801
89 * 10 = 890

# Factors

In [ ]:
#24--- 1 2 3 4 6 8 12 24
n=int(input("enter the number"))
i=1
while i<=n:
    if n%i==0:
        print(i,end=" ")
        i=i+1

enter the number 89

1

# Prime Number

In [7]:
n=int(input("enter the number"))
co=0
i=1
while i<=n:
    if n%1==0:
        co=co+1
    i=i+1
    if co==2:
       print("prime number")
else:
    print("not a prime number")

enter the number 56

prime number
not a prime number

# Factorize

In [5]:
n=int(input("enter the number"))
f=1
while n>0:
    f=f*n
    n=n-1
print("the factorial is",f)

enter the number 9

the factorial is 362880

In [1]:
#f=f*n
#f=1*7=7
#f=7*6=42
#f=42*5=210
#f=210*4=840
#f=840*3=2520
#f=2520*2=5040
#f=5040*1=5040

# Reverse of a number

In [5]:
n=int(input("enter the number"))
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
    print("the reverse is",rev)

enter the number 1010

the reverse is 0
the reverse is 1
the reverse is 10
the reverse is 101

In [7]:
#rem=n%10
#rev=rev*10+rem
#n=n//10

#n=8976

#rem=8976%10-----6
#rev=0*10+6----6
#n=8976//10----897

#rem=897%10----7
#rev=6*10+7=67
#n=897//10-----89


#rem=89%10----9
#rev=67*109----679
#n=89//10----8

#rem=8%10----8
#rev=679*10+8-----6798
#n=8//10----0

# Reverse  pallindrom

In [9]:
n=int(input("enter the number"))
n1=n
rev=0
while n >0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
if n1==rev:
    print("pallindrom number")
else:
    print("not pallidrom number")

enter the number 89

not pallidrom number